.carousel__container {
    overflow: hidden;
}

.carousel__container--inner {
    overflow-y: scroll;
    scrollbar-width: none;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;

    margin: 1rem;
    max-height: 102px;
}

.carousel__container--inner::-webkit-scrollbar {
    display: none;
}
