.carousel__container--inner {
    margin: 1rem;
    max-height: 102px;
}

.carousel-item {
    text-align: center;
    padding: 5px 0;
    color: var(--primary-blue);
}

.small-letter {
    transform: scale(0.9);
    color: var(--light-blue);
}
